
form {
  
    width: 50%;
    margin: 0px auto;
    padding:20px;
    border: 1px solid #B0C4DE;
    background:white;
    border-radius: 0px 0px 10px 10px;

}

.input-group{

    margin: 10px 0x 10px 0px;
}

.input-group label{
display:block;
text-align: left;
margin: 3px;

}

.input-group input{
height: 30px;
width:93%;
padding:5px 10px;
font-size:16px;
border-radius:5px;
border:1px solid gray;

}

.btn{
padding:10px;
font: size 15px;
color: white;
background: #5F9EA0;
border:none;
border-radius: 5px;

}