.whole {
width: 100%;
height: 100%;
padding:0;
border:0;
margin: 0;
}
.header
{
    overflow: hidden; 
    position: fixed;
    top: 0;
    left: 0;
    bottom:7px;
    width: 100%;
    height: 45px;
    background:#1a1a1a;
    padding:0;
    margin: 0;
    border: 0;
    z-index:500;
}

.nav2 {
overflow: hidden; 
float: left;
position: fixed;
background: #0d0d0d;
width: 15%;
height: 100%;
padding:0;
    margin: 0;
    border: 0;
}
.footer 
{  
overflow: hidden; 
  position: relative;
  left: 0;
  width: 107%;
  bottom: 7px;
  height: 70px;
  background:#0d0d0d;
  top:423px;
  padding:0;
  margin: 0;
  border: 0;
  float: right;
}



.linkf {
  float: left;
  padding-top: 20px;
  padding-bottom: 0;
  padding-left:0;
  padding-right:0;
  color:white;
}

#ContentViewer{
  position: relative;
  float:right;
 padding-top: 50px;
  padding-bottom: 0;
  padding-left:0;
  padding-right:0;
  margin: 0;
  border: 0;
  width:80%;
  background-color:white;
  height:400px;
  text-align:center;
}

* {
box-sizing: border-box;  
padding:0;
margin: 0;
border: 0;
}

.mySlides {display: none;}

img {
  position: relative;
  vertical-align: middle;
  width: 80%;
  height: 500px;
  float: right;
}

/* Slideshow container */
.slideshow-container {
width: 70%;
height: 10%;
position: relative;
padding:0;
margin: 0;
border: 0;
}

a:link,a:visited {
  text-decoration: none;
  color:white;
  padding: 20px;
  text-align: center;
  margin-top:2px;
  margin-left:-8px;
  border: -25px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:active{
  text-decoration: none;
  color:gray;
  opacity: 0.5;
  padding: 20px;
  text-align: center;
  margin-top:2px;
  margin-left:-8px;
  border: -25px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
  text-decoration: none;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  color:gray;
  padding: 20px;
  text-align: center;
  margin-left:-8px;
  margin-top: 2px;
  border: -25px;
  font-size: 20px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
}

/* for footer links*/
#AF:link, #AF:visited, #AF:active {
    text-decoration: none;
    color:white;
    padding: 20px;
    text-align: center;
    margin-top:2px;
    margin-left:-8px;
    border: -25px;
    font-size: 15px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
  }

  #AF1:hover {
    text-decoration: none;
    color:rgb(0, 102, 255);
    font-size: 15px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
    cursor: pointer;
  }

#AF1:link, #AF1:visited, #AF1:active {
    text-decoration: none;
    color:white;
    padding: 0;
    text-align: center;
    margin-top:0;
    margin-left:0;
    border: 0;
    font-size: 15px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
  }

  #AF1:hover {
    text-decoration: none;
    color:rgb(0, 102, 255);
    font-size: 15px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
    cursor: pointer;
  }


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}